body{
  margin-top: 100px;
  padding: 0;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding-top: 105px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Literata', serif;
  font-family: 'Quicksand', sans-serif;
}

.page-header {
  margin: 0;
  height: 100px;
  width: 100%;
  padding: 0;
  background-color: #fff !important;
  min-height: 50px;
  display: block;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

div.grid-full {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: baseline;
}

nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  line-height: 0.3px;
  letter-spacing: 0.5px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0;
  border-bottom: 1px solid #eee;
}

h1>a.navbar-brand{
  font-family: 'Literata', serif;
  letter-spacing: 1px;
  color: #ef423e !important;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

input, textarea {
  font-size: 100%;
  line-height: .8px;
  background-color: #fff;
  color: #000;
}

input.navbar-item:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: 600;
    outline: none;
}

input.navbar-item {
  font-family: 'Quicksand', sans-serif;
  color: #555 !important;
  box-sizing: border-box;
  list-style: none;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 11px;
}

a.nav-link {
  display: inline-flex;
  font-weight: 600;
  justify-items: center;
  margin: 0;
  padding: 0 !important;
  text-decoration: none;
  color: #000 !important;
  font-size: 11px;
  outline: none;
  align-items: center;
}


nav a:hover {
  text-decoration: none !important;     
  color: #ef423e !important;
}

li.nav-item{
  justify-content: space-around;
  padding: 0 21px;
}

a.navbar-item[type=submit]>li{
  position: relative;
  top: 2px;
  font-size: 1.25em;
  color: #ef423e;
}

i.fas{
  margin: 0;
  padding: 5px;
}

.fa-search{
  color: #555;
}

.fa-shopping-bag{
  color: #ef423e;
}

a.login{
  font-family: inherit;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.7%;
  text-align: center;
  color: rgb(95, 86, 86);
}

.dropdown:hover .dropdown-menu {display: flex;}

div.d-flex{
  width: 100% !important;
  max-height: 30%;
  margin: 0;
  background-color: #fff;
  float: left;
  overflow: hidden;
  justify-content: flex-start;
}

.dropdown-menu{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 15px 20px; 
  border: none !important;
  border-top: 1px solid #eee;
  outline-style: none !important;
  float: left;
}

li.dropdown-item>a.nav-link{
  line-height: 18px;
  font-weight: 200;
}

.navbar-toggler-icon{
  height: 15px !important;
  width: 15px !important;
  float: left !important;
  justify-self: flex-start !important;
  margin-left: 0;
}


.main{
  margin-top: 100px;
}




@media screen and (max-width: 1050px) {
  li.nav-item{
    padding: 0 1vw;
  }

  nav.nav{
    justify-content: space-between;
    line-height: 0.2px;
  }

  ul.nav{
    margin: 0 auto;
  }
}

@media screen and (max-width: 885px) {
  a.nav-link{
    letter-spacing: normal;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .medium-hide{
    display: none;
  }
  .medium-show{
    display: inline-block;
  }

  nav{
    justify-content: space-between;
  }

  .page-header {
    display: inline-block;
  }

  div.grid-full {
    margin: 0 !important;
    padding: 0 15px;
  }
}
 





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/