
.row{
    width: 100%;
    column-width: auto;
}

header {
    margin-bottom: 10px;
  }
  
  .page-header{
    text-transform: uppercase;
  }

nav {
    height: 50px;
    /* flex: 100%; */
    display: none;
   /* background-color: none; */
  }
  
  nav ul {
    padding-top: 0;
    list-style-type: none;
    
  }
  
  nav li {
    display: inline;
    text-align: center;
  }